
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


.section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.grid-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.grid-container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"], .aspNetHidden {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}


label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}


select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3399FF;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #1E72CC;
    }


table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3399FF;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}
